#For ignore data to add in github.

#Use this code in terminal: [ git init .]
# It helps to ignore the files or folder which would very important.
# For getting status to include in what will be committed.
# code is here for geting untracked file: [ git status]
password.txt